@import '/styles/root/mixins.scss';

.container {
  margin: 1rem auto 17.5rem auto;
  min-height: 67.5rem;
  max-width: 120rem;
  width: 100%;
  padding: 0px 1.25rem;
}
.inner {
  position: relative;
  width: 100%;
  min-height: 67.5rem;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 6.25rem;

  &__title {
    @extend %textDisplay;
    max-width: 50rem;
    padding-top: 1.25rem;
  }
}

.middle {
  padding: 0 9.5rem 0 23.5625rem;
  display: flex;
  justify-content: space-between;

  &__title {
    max-width: 34.375rem;
    padding-top: 1.25rem;
    font-family: Inter;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.23;
    letter-spacing: -0.03em;
    color: $fontColor;
  }

  &__frame {
    width: 5.625rem;
    height: 5.625rem;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
  }
}

.outro {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 9.5rem;

  &__frame {
    width: 3.8125rem;
    height: 3.75rem;
    background: #ffffff;
    box-shadow: 0rem 0.75rem 1.5rem rgba(124, 124, 124, 0.15);
    border-radius: 0.75rem;
    position: relative;
  }

  &__text {
    @extend %textBodyL;
    max-width: 39.375rem;
    font-size: 1.25rem;
    text-indent: 4rem;
  }

  &__team {
    display: flex;
  }
}

.person {
  width: 5.5rem;
  height: 5.5rem;
  position: relative;

  &_plus {
    width: 5.5rem;
    height: 5.5rem;
  }

  @for $i from 1 to 4 {
    $left: 80 - (20 * $i);
    $zIndex: 3 - $i;

    &:nth-child(#{$i}) {
      z-index: #{$zIndex};
      left: #{$left}px;
    }
  }
}

.activities {
  position: absolute;
  top: 46.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 82.5rem;
}

.activity {
  width: 25.875rem;
  min-height: 100%;
  background: rgba(243, 244, 248, 0.6);
  border: 0.0625rem solid $form;
  backdrop-filter: blur(1.0625rem);
  border-radius: 3rem;
  padding: 3.4375rem 0 2.8125rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    display: block;
    @extend %header3;
  }

  &__categories {
    margin-top: 3.125rem;
    margin-bottom: 3.75rem;
  }

  &__category {
    display: block;
    @extend %textBodyS;

    & + & {
      margin-top: 0.9375rem;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
  }

  &__customTab {
    margin-right: 0.625rem;
  }
}

.button__top {
  z-index: 10;
  position: fixed;
  right: 6rem;
  top: 7rem;
}

.button__bottom {
  z-index: 10;
  transform: translateY(calc(100vh - 17rem));
  position: fixed;
  right: 6rem;

  &:hover {
    transform: translateY(calc(100vh - 17rem)) scale(1.17);
    position: fixed;
    right: 6rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-height: auto;
    padding: 0;
    margin: 0rem auto 4rem auto;
  }

  .inner {
    min-height: 48.25rem;
    border-radius: 0;
  }

  .intro {
    &__title {
      font-size: 2.25rem;
      font-weight: 700;
      max-width: 26.875rem;
    }
  }

  .middle {
    padding: 0;
    &__title {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      max-width: 14.5rem;
      margin-left: auto;
      margin-top: 1rem;
    }
    &__frame {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 0.75rem;
      position: absolute;
      top: 34.375rem;
      right: 3.125rem;
    }
  }

  .outro {
    margin-top: 2.0625rem;
    padding-left: 0;
    flex-direction: column;

    &__frame {
      margin-top: 1.375rem;
      margin-left: -6.25rem;
      order: 2;
    }
    &__text {
      order: 1;
      margin-top: 1.4375rem;
      font-size: 0.875rem;
      max-width: 26.875rem;
    }
    &__team {
      order: 0;
      margin-left: -3.125rem;
    }
  }

  .activities {
    flex-direction: column;
    align-items: center;
    position: static;
    transform: translateX(0);
    max-width: 25.875rem;
    margin: -5rem auto 0px auto;
  }

  .activity {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 500px) {
  .middle {
    &__frame {
      top: 37rem;
    }
  }
  .activities {
    width: 100%;
    padding: 0px 1.5rem;
  }

  .activity {
    width: 100%;

    &__customTab {
      margin-bottom: 0.625rem;
    }
  }
}
