@import "/styles/root/mixins.scss";

.form {
  width: 31.25rem;
  height: 43rem;
  backdrop-filter: blur(2.625rem);
  border-radius: 3rem;
  background: #FFFFFF;
  border: 0.0625rem solid rgba(86, 86, 86, 0.15);
  position: relative;
  padding: 2.5rem;

  &__title {
    @extend %header3;
    text-align: center;
    display: block;
  }
}