@import '/styles/root/mixins.scss';

.consul {
  margin-top: 6.25rem;
  &__mainText {
    @extend %textDisplay;
    display: block;
    text-align: center;

    &_mainColor {
      color: $mainColor;
      display: block;
    }
  }
}

.consul__accordions {
  margin-top: 3.75rem;
}

.accordion {
  @extend %header3;
  font-weight: 400;
  padding: 0 4.125rem;
  background: $cardBackground;
  border-radius: 1.5rem;
  border: 0.0625rem solid $form;
  transition: border-color 0.3s ease-in;

  & + & {
    margin-top: 2.5rem;
  }

  &:hover {
    border-color: $mainColor;

    span {
      &::before,
      &::after {
        background-color: $mainColor;
      }
    }
  }

  &__trigger {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 0.125rem;
      height: 1.75rem;
      position: absolute;
      top: calc(50% - 0.875rem);
      right: 0;
      background-color: $fontColor;
      transition: transform 0.3s ease-in, background-color 0.3s ease-in;
    }

    &::after {
      transform: rotate(90deg);
    }

    &_open {
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    &_close {
    }
  }

  &__content {
    padding-bottom: 3rem;

    &_open {
    }

    &_close {
    }
  }
}

@media (max-width: 768px) {
  .consul {
    margin-top: 3.75rem;

    &__mainText {
      font-size: 1.9375rem;
    }
  }

  .consul__accordions {
    margin-top: 1.875rem;
  }

  .accordion {
    border-radius: 0.75rem;
    font-size: 18px;
    padding: 0 3.125rem 0 1.25rem;
    & + & {
      margin-top: 1.25rem;
    }

    &__trigger {
      height: 6.25rem;
      white-space: normal;

      &::before,
      &::after {
        height: 1.25rem;
        top: calc(50% - 0.625rem);
      }
    }
  }
}
