@import 'media';
@import 'mixins';
@import 'root';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Базовые стили body
body {
  //   background-color: $mainBack;
  height: 100%;
  font-family: $mainFont;
  color: $fontColor;
  cursor: default;
  @extend %scrollbar;
  position: relative;
  overflow-x: hidden;
}

// html {
//   scroll-behavior: smooth;
// }

section {
  position: relative;
}
//Создание базовых стилей для основных тегов

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
}

// убирает цвет автокомплита у инпута
input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    font-size: 1rem;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  // color: $grayMain;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  outline: none;

  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }

  font-family: $mainFont;
}

button {
  cursor: pointer;
  font-family: $mainFont;
}

//Стандартный враппер
.wrapper {
  margin: 0 auto;
  max-width: 82.5rem;
  position: relative;
  height: 100%;

  @media (max-width: 768px) {
    width: 90%;
  }

  &_fullPhone {
    margin: 0 auto;
    max-width: 83.75rem;
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

@font-face {
  font-family: 'Aeroport';
  src: url('./../../fonts/Aeroport.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Aeroport';
  src: url('./../../fonts/Aeroport-Bold.woff2') format('woff2');
  font-weight: 600;
}
