//Создание переменных
$mainColor: #4AEE87;
$hoverMainColor: #30D96E;
$fontColor: #272F2D;
$textGray: #636969;
$cardBackground: #EEF1F6;
$background: #FCFDFF;
$form: #E4E4E4;

$mainFont: "Inter", sans-serif;
