//Создание переменных
$mainColor: #4aee87;
$hoverMainColor: #30d96e;
$fontColor: #272f2d;
$textGray: #636969;
$cardBackground: #eef1f6;
$background: #fcfdff;
$form: #e4e4e4;
$textLight: #fcfdff;
$textLightGray: #eef1f6;

$mainFont: 'Inter', sans-serif;
