.products {
  margin-top: 8.75rem;
}

.products__title {
  font-family: Aeroport;
  color: #272f2d;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.product__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .products {
    margin-top: 70px;
  }

  .products__title {
    font-size: 1.9375rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-left: 0.875rem;
    line-height: 2.375rem;

    span {
      display: block;
    }
  }

  .product__list {
    font-display: column;
  }
}
