@import '/styles/root/mixins.scss';

.menu__container {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 1.875rem 1.4375rem;
  background-color: $cardBackground;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  visibility: hidden;
  transition: transform 0.4s ease-in, visibility 0.3s ease-in;

  &__active {
    transform: translateX(0);
    visibility: visible;
  }
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.logo {
  position: relative;
  width: 10.8125rem;
  height: 1.75rem;
}

.accordion {
  &__trigger {
    position: relative;
    height: 3.4375rem;
    padding-right: 3.125rem;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(39, 47, 45, 0.1);
    transition: border 0.3s ease-in;

    &_open {
      border-bottom: 1px solid transparent;
    }

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 8px;
      position: absolute;
      top: calc(50% - 3px);
      right: 2.5rem;
      background-color: $fontColor;
      transition: transform 0.3s ease-in;
    }

    &::after {
      transform: rotate(90deg);
    }

    &_open {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__subitem {
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(39, 47, 45, 0.1);

    a {
      font-size: 1rem;
      color: rgba(39, 47, 45, 1);
    }
  }
}

.contacts {
  margin-top: 3.125rem;

  &__mail {
    margin-bottom: 1.25rem;
    a {
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-weight: 700;
      color: $fontColor;
      border-bottom: 1px solid $hoverMainColor;
    }
  }

  &__phone {
    margin-bottom: 1.875rem;
    a {
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: $fontColor;
    }
  }

  &__social {
    margin-right: 1.25rem;
    font-size: 1.125rem;
    color: $fontColor;
    border-bottom: 1px solid $hoverMainColor;
  }
}

.brif {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3.75rem;

  a {
    font-size: 1.5rem;
    color: $fontColor;
    padding: 0.875rem 1.875rem;
    background-color: $hoverMainColor;
    width: 100%;
    border-radius: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
  }
}

@media (min-width: 768px) {
  .menu__container {
    display: none;
  }
}
