@import '/styles/root/mixins.scss';

.tag__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
}

.tag {
  min-height: 2.8125rem;
  margin: 0rem 0.625rem 1.25rem 0rem;
  margin-left: 0;
  padding: 0.625rem 0;
  border-radius: 30px;
  cursor: pointer;

  &__view {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    border: 2px solid $fontColor;
    padding: 0.625rem 0.9375rem;
    border-radius: 30px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
  }

  &__input:checked + .tag__view {
    color: $hoverMainColor;
    background-color: $fontColor;
  }
}

@media (max-width: 768px) {
  .tag {
    margin: 0rem 0.625rem 0.625rem 0rem;

    &__view {
      font-size: 0.875rem;
    }
  }
}
