@import '/styles/root/mixins.scss';

.skills {
  margin-top: 7.5rem;

  &__mainText {
    @extend %textDisplay;
    text-indent: 20rem;
    display: block;

    &_mainColor {
      color: $mainColor;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.75rem;
  }

  &__imageIphone {
    width: 14.0625rem;
    height: 20rem;
    position: relative;
  }

  &__imageLogo {
    width: 100%;
    height: 17.8125rem;
    position: relative;
  }

  &__spiderweb {
    width: 32.75rem;
    height: 18.625rem;
    position: relative;
  }

  &__team {
    display: flex;
    position: relative;
    left: -3.125rem;
  }
}

.person {
  width: 10.375rem;
  height: 10.375rem;
  position: relative;
  margin-top: 1.875rem;

  &:nth-child(1) {
    z-index: 4;
    left: 6.875rem;
  }
  &:nth-child(2) {
    z-index: 3;
    left: 5rem;
  }
  &:nth-child(3) {
    z-index: 2;
    left: 2.5rem;
  }
}

@media (max-width: 768px) {
  .skills {
    margin-top: 5rem;

    &__mainText {
      text-indent: 0rem;
      font-size: 1.9375rem;
      font-weight: 700;
      line-height: 2.375rem;
      padding: 0 0.875rem;

      &_mainColor {
        display: block;
      }
    }

    &__content {
      flex-direction: column;
    }

    &__team {
      bottom: -1.875rem;
    }
  }

  .person {
    width: 6.875rem;
    height: 6.875rem;

    &:nth-child(1) {
      z-index: 4;
      left: 5.625rem;
    }
    &:nth-child(2) {
      z-index: 3;
      left: 3.75rem;
    }
    &:nth-child(3) {
      z-index: 2;
      left: 1.875rem;
    }
  }
}

@media (max-width: 500px) {
  .skills {
    &__imageIphone {
      width: 10.125rem;
      height: 14.625rem;
    }

    &__spiderweb {
      height: 12.375rem;
    }

    &__imageLogo {
      height: 12.5rem;
    }

    &__team {
      left: -1.4375rem;
    }
  }

  .person {
    width: 5.75rem;
    height: 5.75rem;

    &:nth-child(1) {
      left: 2.8125rem;
    }
    &:nth-child(2) {
      left: 1.875rem;
    }
    &:nth-child(3) {
      left: 0.875rem;
    }
  }
}
