@import '/styles/root/mixins.scss';

.backdrop {
  width: 100%;
  // min-height: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.62);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &__green {
    background-color: $hoverMainColor;
  }
}
