@import '/styles/root/mixins.scss';

.container {
  background-color: $hoverMainColor;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.wrapper {
  max-width: 73.5625rem;
  padding: 0rem 0.9375rem;
  margin: 0px auto;
}

.heading {
  &__title {
    font-family: 'Aeroport';
  }
}
