@import '/styles/root/mixins.scss';

.tab {
  height: 2.5rem;
  background: $mainColor;
  border-radius: 6.25rem;
  padding: 0.5rem 1.5rem;
  @extend %textBodyS;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  cursor: default;
}
