@import '/styles/root/mixins.scss';

.accordion {
  &__trigger {
    position: relative;
    height: 3.4375rem;
    padding-right: 3.125rem;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(39, 47, 45, 0.1);
    transition: border 0.3s ease-in;

    &_open {
      border-bottom: 1px solid transparent;
    }

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 8px;
      position: absolute;
      top: calc(50% - 3px);
      right: 2.5rem;
      background-color: $fontColor;
      transition: transform 0.3s ease-in;
    }

    &::after {
      transform: rotate(90deg);
    }

    &_open {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__subitem {
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(39, 47, 45, 0.1);

    a {
      font-size: 1rem;
      color: rgba(39, 47, 45, 1);
    }
  }
}
