@import '/styles/root/mixins.scss';

.experience {
  background-color: $cardBackground;
  height: 37.5rem;
  border-radius: 3rem;
  padding: 3.75rem 1.875rem;
  margin-top: 3.75rem;

  &__title {
    @extend %textDisplay;
    text-indent: 6.25rem;
    display: block;
    padding-left: 1.875rem;

    &_green {
      color: $mainColor;
      display: inline;
      padding: 0;
    }
  }

  &__categories {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__category {
    @extend %textBodyL;
    font-family: Aeroport;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    margin-right: 0.9375rem;
    margin-bottom: 0.9375rem;
    transition: background-color 0.3s ease-in;
    cursor: default;
  }
}

@media (max-width: 768px) {
  .experience {
    height: auto;
    padding: 2.5rem 0.9375rem;
    border-radius: 1.5rem;

    &__title {
      font-weight: 700;
      text-indent: 0;
      padding-left: 0;
      font-size: 1.9375rem;
      max-width: 21.875rem;
      margin: 0px auto;
      text-align: center;

      &_green {
        display: block;
      }
    }

    &__categories {
      margin-top: 1.875rem;
    }

    &__category {
      font-size: 1.125rem;
      margin-right: 0.625rem;
      margin-bottom: 0.625rem;
      padding: 0.625rem 1.25rem;
    }
  }
}
