.manager {
  &__box {
    display: flex;
    align-items: center;
  }

  &__img {
    position: relative;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    border: 3px solid #fcfdff;
  }

  &__info {
    margin-left: 0.625rem;
  }

  &__info__rang {
    color: rgba(39, 47, 45, 0.3);
  }
}
