@import '/styles/root/mixins.scss';

.container {
  position: relative;
  background-color: $mainColor;
  margin-top: 7.625rem;
  height: 37.5rem;
  border-radius: 3rem;
  overflow: hidden;
}

.back {
  position: absolute;
  width: 67.25rem;
  height: 67.25rem;
  bottom: 1.875rem;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.talents {
  padding-top: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

  &__title {
    @extend %textDisplay;
    display: block;
    text-align: center;
  }

  &__text {
    @extend %textBodyL;
    display: block;
    margin-top: 2.8125rem;
    max-width: 37.875rem;
    text-align: center;
  }

  &__vacancy {
    background-color: rgba(252, 253, 255, 0.6);
    width: 17.5rem;
    position: absolute;
    bottom: 7.4375rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border: 1px solid $cardBackground;
    border-radius: 2rem;
    @extend %textBodyL;
    transition: background-color 0.3s ease-in;
    font-family: Aeroport;

    &:hover {
      background-color: #fff;
    }
  }

  &__talent1 {
    position: absolute;
    width: 7.4375rem;
    height: 7.4375rem;
    top: 13.75rem;
    left: 9rem;
  }

  &__talent2 {
    position: absolute;
    width: 7.4375rem;
    height: 7.4375rem;
    top: 13.75rem;
    right: 12.0625rem;
  }

  &__talent3 {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 21.125rem;
    left: 23.125rem;
  }

  &__talent4 {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 25.4375rem;
    right: 23.25rem;
  }

  &__talent5 {
    position: absolute;
    width: 6rem;
    height: 6rem;
    bottom: 3.25rem;
    left: 4.875rem;
  }

  &__talent6 {
    position: absolute;
    width: 4.625rem;
    height: 4.625rem;
    bottom: 3.75rem;
    right: 5rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 3.75rem;
    height: 38.75rem;
    border-radius: 1.5rem;
  }

  .back {
    width: 43.375rem;
    height: 43.375rem;
    top: -4.375rem;
  }

  .talents {
    padding: 2.1875rem 0.625rem 0.625rem 0.625rem;
    height: 100%;

    &__title {
      font-size: 1.9375rem;
      font-weight: 700;
    }
    &__text {
      margin-top: 1.25rem;
      line-height: 1.5rem;
      font-size: 1rem;
      max-width: 506px;
      flex: 1 1 auto;
    }

    &__vacancy {
      bottom: 2.3125rem;
    }

    &__talent1 {
      width: 5rem;
      height: 5rem;
      top: 17.3125rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &__talent2 {
      width: 3.75rem;
      height: 3.75rem;
      top: 19.375rem;
      right: 1.25rem;
    }

    &__talent3 {
      display: none;
    }

    &__talent4 {
      width: 4.625rem;
      height: 4.625rem;
      top: 19.375rem;
      left: 1.25rem;
    }

    &__talent6 {
      width: 4.625rem;
      height: 4.625rem;
      top: 25.1875rem;
      right: 4.9375rem;
    }

    &__talent5 {
      width: 4.625rem;
      height: 4.625rem;
      top: 25.1875rem;
      left: 4.9375rem;
    }
  }
}
