@import '/styles/root/mixins.scss';

.chat__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
}

.chat__inner {
  padding-right: 0.9375rem;
  overflow-y: auto;
  @extend %scrollbar;
  scroll-behavior: smooth;
  &::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.7);
  }
}

.manager {
  display: flex;
  flex-direction: column;
}

.message__wrapper {
  position: relative;
}

.message {
  min-height: 6rem;
  max-width: 31.25rem;
  margin-top: 0.9375rem;
  background-color: #eef1f6;
  border-radius: 1rem;
  padding: 1.125rem 1.25rem;

  &__triangle {
    display: none;
  }

  &__link {
    color: $fontColor;
    text-decoration: underline;
    text-decoration-color: $mainColor;
    -webkit-text-decoration-color: $mainColor;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.375rem;
}

.tag {
  font-size: 1.125rem;
  background-color: rgba(252, 253, 255, 0.6);
  color: $fontColor;
  border-radius: 3.125rem;
  min-height: 2.5rem;
  padding: 0.625rem 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}
.tag.active {
  background-color: #fff;
}

.form {
  margin-top: 1.875rem;
}

.conversation {
  margin-bottom: 1.875rem;
  display: flex;
  flex-direction: column;

  &__answer {
    max-width: 22.25rem;
    margin-top: 0.9375rem;
    font-size: 1rem;
    background-color: #eef1f6;
    border-radius: 1.875rem;
    min-height: 2.5rem;
    padding: 0.625rem 0.8125rem;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  .chat__inner {
    padding: 0 0.9375rem;
  }
}
