@import '/styles/root/mixins.scss';

.message {
  &__wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 2.5rem;
  }
}

.avatar {
  flex: 0 0 5.5rem;
  height: 5.5rem;
  position: relative;
  border-radius: 50%;

  &__left {
    margin-right: 1rem;
  }

  &__right {
    margin-left: 1rem;
    order: 1;
  }
}

.text {
  flex: 1 1 auto;
  padding: 1.375rem 1rem;
  background-color: $cardBackground;
  border-radius: 0.875rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  position: relative;
}

.triangle {
  position: absolute;
  width: 31px;
  height: 31px;
  bottom: 0;

  &__left {
    left: -0.9375rem;
  }

  &__right {
    right: -0.75rem;
  }
}
