@import '/styles/root/mixins.scss';

.container {
  background-color: $hoverMainColor;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'Aeroport';
}

.wrapper {
  max-width: 73.5625rem;
  padding: 4.75rem 0.9375rem 2.75rem 0.9375rem;
  margin: 0px auto;
}

.heading {
  &__title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 400;
    margin-bottom: 3.125rem;
  }

  &__desc {
    display: flex;
  }
  &__desc__left {
    max-width: 29.0625rem;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin-right: 13.3125rem;
  }

  &__desc__right {
    max-width: 26.875rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

.section {
  width: 100%;
  padding: 3.75rem 0rem 2.5rem 0rem;
  border-bottom: 1px solid $fontColor;

  &__title {
    font-size: 1.9375rem;
    font-weight: 600;
    margin-bottom: 1.875rem;
  }
}

.service__tags {
  display: flex;
  align-items: center;
}

.form__input {
  &__textarea {
    border: 1px solid $fontColor;
    border-radius: 1.5rem;
    padding: 1.875rem;
    width: 32.8125rem;
    height: 15rem;
    resize: none;
    color: $fontColor;

    &::placeholder {
      color: rgba(99, 105, 105, 1);
    }
  }
}

.functional {
  display: flex;

  &__accordions {
    margin-left: 2.5rem;
  }
}

.accordion {
  &__trigger {
    position: relative;
    min-height: 4rem;
    padding-right: 3.125rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid $fontColor;
    transition: border 0.3s ease-in;

    &_open {
      border-bottom: 1px solid transparent;
    }

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 1.125rem;
      position: absolute;
      top: calc(50% - 6px);
      right: 2.5rem;
      background-color: $fontColor;
      transition: transform 0.3s ease-in;
    }

    &::after {
      transform: rotate(90deg);
    }

    &_open {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    padding: 1.25rem 1.25rem 1.875rem 0rem;
    border-bottom: 1px solid $fontColor;
  }
}

.error {
  display: flex;
  align-items: center;
  color: red;
  height: 1.25rem;
  padding-left: 0.625rem;
}

.contacts {
  border-bottom: none;

  &__input__wrapper {
    max-width: 32.8125rem;
    margin-bottom: 0.9375rem;
    position: relative;
  }

  &__input {
    border: 1px solid $fontColor;
    border-radius: 0.625rem;
    color: $fontColor;
    &::placeholder {
      font-size: 1rem;
    }
  }

  &__input__file {
    opacity: 0;
  }

  &__fake {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0.625rem;
    border: 1px solid $fontColor;
    padding-left: 1rem;
    color: rgba(99, 105, 105, 1);

    p {
      margin-left: 0.625rem;
    }
  }
}

.btn__submit {
  border: 1px solid black;
  padding: 0.75rem 1.875rem;
  margin: 3.125rem 0 0 0;
  background-color: $fontColor;
  color: $hoverMainColor;
  font-size: 1.5rem;
  border-radius: 3.125rem;
  border: 2px solid $fontColor;
  height: auto;
  width: 19.0625rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;

  &:hover {
    transform: none;
    background-color: $hoverMainColor;
    color: $fontColor;
  }
}

.politics {
  max-width: 35rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1.8125rem 1.5rem 1.625rem 1.5rem;
  }
  .heading {
    &__title {
      font-size: 3.375rem;
    }

    &__desc {
      flex-direction: column;
    }

    &__desc__left {
      font-size: 1.125rem;
      font-weight: 600;
      margin-right: 0;
      margin-bottom: 1.875rem;
      line-height: 1.5rem;
    }

    &__desc__right {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-bottom: 1.875rem;
    }
  }

  .section {
    padding: 1.875rem 0rem 3.75rem 0rem;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 1.25rem;
      line-height: 1.8125rem;
    }
  }

  .form__input {
    &__textarea {
      padding: 1.25rem;
      width: 100%;
    }
  }

  .functional {
    flex-direction: column;

    &__accordions {
      margin-left: 0;
    }
  }

  .accordion {
    &__trigger {
      font-size: 1.125rem;
      font-weight: 600;

      &::before,
      &::after {
        content: '';
        width: 1px;
        height: 0.75rem;
        top: calc(50% - 0.3125rem);
        right: 1.875rem;
      }
    }

    &__content {
      font-size: 0.875rem;
      padding: 0.625rem 0 1.875rem 0;
    }
  }

  .contacts {
    padding-bottom: 1.9375rem;
  }

  .functional__section {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width: 500px) {
  .btn__submit {
    width: 100%;

    &:hover {
      background-color: $fontColor;
      color: $hoverMainColor;
    }
  }
}
