@import "/styles/root/mixins.scss";

.footer {
  width: 100%;
  max-width: 117.5rem;
  background-color: $mainColor;
  margin-top: 1.875rem;
  padding: 8.125rem 2.1875rem 2.1875rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 48px 48px 0 0;

  &__mail {
    @extend %header2;
  }

  &__content {
    margin-top: 4.75rem;
    height: 23rem;
    display: flex;
  }

  &__menu {
    width: calc(50% - 1px);
  }

  &__submenu {
    width: 50%;
    padding-left: 3.75rem;
  }

  &__menuItem {
    @extend %header3;
    display: block;
    position: relative;

    & + & {
      margin-top: 1.25rem;
    }
  }

  &__menuSubitem {
    @extend %subHeader;
    display: block;
    position: relative;
    width: fit-content;

    & + & {
      margin-top: 1.875rem;
    }
  }

  &__menuItem, &__menuSubitem {
    &::after {
      content: "";
      width: 0px;
      height: 2px;
      background-color: $fontColor;
      position: absolute;
      bottom: -5px;
      left: 0;
      transition: width 0.3s ease-in;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__border {
    width: 1px;
    height: 21.375rem;
    background-color: $fontColor;
  }
}

.license {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5625rem;


  &__law {
    display: block;
    @extend %textBodyS;
  }

  &__content {
    padding-left: 3.75rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__politics {
    @extend %textBodyS;
    text-decoration-line: underline;
  }
}