@import '/styles/root/mixins.scss';

.container {
  max-width: 120rem;
  padding: 0px 1.25rem;
  margin: 0 auto 0rem auto;
}

.footer {
  width: 100%;
  max-width: 117.5rem;
  background-color: $mainColor;
  padding: 2.9375rem 0px 2.25rem 0rem;
  border-radius: 3rem;

  &__logo {
    margin-bottom: 3.375rem;
  }

  &__mail {
    @extend %header2;
    font-family: Aeroport;
  }

  &__content {
    margin-top: 4.75rem;
    height: 23rem;
    display: flex;
  }

  &__menu {
    width: calc(50% - 0.0625rem);
  }

  &__submenu {
    width: 50%;
    padding-left: 3.75rem;
  }

  &__menuItem {
    @extend %header3;
    font-family: Aeroport;
    display: block;
    position: relative;

    & + & {
      margin-top: 1.25rem;
    }
  }

  &__menuSubitem {
    @extend %subHeader;
    font-family: Aeroport;
    display: block;
    position: relative;
    width: fit-content;

    & + & {
      margin-top: 1.875rem;
    }
  }

  &__menuItem,
  &__menuSubitem {
    &::after {
      content: '';
      width: 0rem;
      height: 2px;
      background-color: $fontColor;
      position: absolute;
      bottom: -0.3125rem;
      left: 0;
      transition: width 0.3s ease-in;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__border {
    width: 0.0625rem;
    height: 21.375rem;
    background-color: $fontColor;
  }
}

.license {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5625rem;

  &__law {
    display: block;
    @extend %textBodyS;
  }

  &__content {
    padding-left: 3.75rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__politics {
    @extend %textBodyS;
    text-decoration-line: underline;
  }
}

.accordion {
  &__trigger {
    position: relative;
    height: 3.4375rem;
    padding-right: 3.125rem;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(39, 47, 45, 1);
    transition: border 0.3s ease-in;

    &_open {
      border-bottom: 1px solid transparent;
    }

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 8px;
      position: absolute;
      top: calc(50% - 3px);
      right: 2.5rem;
      background-color: $fontColor;
      transition: transform 0.3s ease-in;
    }

    &::after {
      transform: rotate(90deg);
    }

    &_open {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__subitem {
    height: 3rem;
    display: flex;
    align-items: center;

    a {
      font-size: 1rem;
      color: rgba(39, 47, 45, 1);
    }
  }
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .footer {
    border-radius: 0;
    padding: 1.875rem 0 1.25rem;

    &__mail {
      font-size: 1.9375rem;
      font-weight: 700;
      margin-bottom: 3.75rem;
    }

    &__logo {
      margin-bottom: 2.5rem;
    }

    &__content {
      display: none;
    }
  }

  .license {
    margin-top: 2.875rem;
    flex-direction: column;

    &__law {
      margin-bottom: 1.875rem;
      span {
        display: block;
      }
    }

    &__content {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0;
    }

    &__politics {
      margin-bottom: 46px;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &__mail {
      font-size: 1.5rem;
    }
  }
}
