@import '/styles/root/mixins.scss';

.close__button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.0625rem solid $cardBackground;
  background: rgba(252, 253, 255, 0.6);
  backdrop-filter: blur(0.25rem);
  z-index: 10;

  &::before,
  &::after {
    content: '';
    width: 1.75rem;
    height: 0.125rem;
    position: absolute;
    top: 50%;
    left: calc(50% - 0.875rem);
    background-color: $fontColor;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.close__form__btn {
  position: absolute;
  top: 0;
  right: -6.25rem;
}

.close__chat__btn {
  position: absolute;
  top: 0;
  right: -6.25rem;
}

@media (max-width: 768px) {
  .close__button {
    width: 3rem;
    height: 3rem;

    &::before,
    &::after {
      width: 1.3125rem;
      left: calc(50% - 10px);
    }
  }
}
