@import '/styles/root/mixins.scss';

.form {
  &__wrapper {
    display: flex;
    align-items: center;
    border: 0.0625rem solid $form;
    height: 4.75rem;
    border-radius: 3.125rem;
    background-color: rgba(252, 253, 255, 0.6);
    padding: 0px 8px;
  }

  &__wrapper__dark {
    background-color: #3f4644;
  }

  &__input {
    flex: 1 1 auto;
    color: #000;
  }

  &__input__dark {
    color: #eef1f6;
  }
}

.form__button {
  flex: 0 0 3.75rem;
  height: 3.75rem;
  background-color: rgba(48, 217, 110, 1);
}
