@import '/styles/root/mixins.scss';

.input {
  border: 1px solid $fontColor;
  border-radius: 0.625rem;
  color: $fontColor;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
  }

  &__list {
    margin-top: 1.875rem;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 1.0625rem;
    position: relative;
  }
}

.btn__submit {
  padding: 0.75rem 1.875rem;
  margin: 1.125rem 0 0 0;
  font-family: Aeroport;
  font-size: 1.5rem;
  border-radius: 3.125rem;
  min-height: 4rem;
  height: auto;
  width: 100%;

  &:hover {
    transform: none;
  }
}

input.error {
  border: 1px solid red;
}
