@import '/styles/root/mixins.scss';

.input {
  border: 1px solid $fontColor;
  border-radius: 0.625rem;
  color: $fontColor;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
  }

  &__list {
    margin-top: 1.875rem;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 1.0625rem;
    position: relative;
  }
}

.input.dark {
  background-color: #3f4644;
  border: 1px solid #eef1f6;
  color: #eef1f6;
}
.label__dark {
  color: #eef1f6;
}

.btn__submit {
  padding: 0.75rem 1.875rem;
  margin: 1.125rem 0 0 0;
  font-family: Aeroport;
  font-size: 1.5rem;
  border-radius: 3.125rem;
  min-height: 4rem;
  height: auto;
  width: 100%;

  &:hover {
    transform: none;
  }
}

.btn__submit.white {
  background-color: #fcfdff;
}

.btn__submit.green {
  background-color: $mainColor;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $hoverMainColor;
  }
}

input.error,
.input.dark.error {
  border: 1px solid red;
}
