@import '/styles/root/mixins.scss';

.skills {
  margin-top: 7.5rem;

  &__mainText {
    @extend %textDisplay;
    text-indent: 20rem;
    display: block;

    &_mainColor {
      color: $mainColor;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.75rem;
  }

  &__imageIphone {
    width: 14.0625rem;
    height: 20rem;
    position: relative;
  }

  &__imageLogo {
    width: 100%;
    height: 17.8125rem;
    position: relative;
  }

  &__spiderweb {
    width: 32.75rem;
    height: 18.625rem;
    position: relative;
  }

  &__team {
    display: flex;
    position: relative;
    left: -30px;
  }
}

.person {
  width: 10.375rem;
  height: 10.375rem;
  position: relative;
  margin-top: 1.875rem;

  @for $i from 1 to 4 {
    $left: 80 - (20 * $i);
    $zIndex: 5 - $i;

    &:nth-child(#{$i}) {
      z-index: #{$zIndex};
      left: #{$left}px;
    }
  }
}
