@import "/styles/root/mixins.scss";

.skills {
  margin-top: 7.5rem;

  &__mainText {
    @extend %textDisplay;
    text-indent: 20rem;
    display: block;

    &_mainColor {
      color: $mainColor;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.75rem;
  }

  &__imageIphone {
    width: 14.0625rem;
    height: 20rem;
    position: relative;
  }

  &__imageLogo {
    width: 100%;
    height: 17.8125rem;
    position: relative;
  }
}
